<template>
    <div>
        <input type="search" placeholder="Hľadať" v-model="query" v-on:keyup="autoComplete">
        <select name="scat" v-model="cat" id="scat">
            <option value="0">Všetky kategórie</option>
            <option :value="category.id" v-for="category in categories">{{ category.name }}</option>
        </select>
        <a href="#" class="btn">
            Hľadať
        </a>
        <div class="panel-footer" v-if="results.length">
            <ul class="list-group">
                <li class="list-group-item" v-for="result in results">
                    <a :href="'/detail/' + result.id">
                    <img :src="'/public/' + result.image" alt="">
                    <p>{{ result.name }}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                cat: '0',
                query: '',
                results: [],
                categories: ''
            }
        },
        methods: {
            autoComplete(){
                this.results = [];
                if(this.query.length > 2){
                    axios.get('/search',{params: {query: this.query, cat: this.cat}}).then(response => {
                        this.results = response.data;
                    });
                }
            },
            getCategories() {

                var url = "/get_categories";

                axios.get(url).then(response => {
                    this.categories = response.data;
                });
            },
        },
        mounted: function(){
            this.getCategories();
        }
    }
</script>