<template>
    <main>
        <agile :options="options">
            <div class="slide" v-for="(banner, index) in banners">
                <div class="overlay">
                    <img v-bind:src="banner.img" alt="">
                </div>
                <div class="text">
                    <h1>
                        {{ banner.title }}
                    </h1>
                    <p>
                        {{ banner.text }}
                    </p>
                </div>
            </div>
        </agile>
    </main>
</template>

<script>
    import VueAgile from 'vue-agile'
    Vue.use(VueAgile);
    export default {

        data () {

            return {
                banners: [
                    {
                        index: 1,
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci turpis, volutpat nec',
                        img: '/public/images/strawberries.jpg',
                        title: 'Čerstvé jahody'
                    },
                    {
                        index: 2,
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci turpis, volutpat nec',
                        img: '/public/images/cheesejpg.jpg',
                        title: 'Čerstvy syr'
                    }
                ],
                options: {
                    arrows: true,
                    infinite: true,

                    responsive: [
                        {
                            breakpoint: 600,
                            settings: {
                                dots: false
                            }
                        },

                        {
                            breakpoint: 900,
                            settings: {
                                arrows: true,
                                dots: true,
                                infinite: true
                            }
                        }
                    ]
                }
            }
        }
    }
</script>