<template>
        <star-rating
        v-bind:increment="0.5"
        v-bind:max-rating="5"
        inactive-color="#000"
        v-bind:star-size="20"
        v-model="rating"
        @rating-selected ="setRating"
        >
        </star-rating>
</template>

<script>
    import StarRating from 'vue-star-rating'

    export default {
        components: {
            StarRating
        },
        data(){
            return {
                rating: 3
            }
        },
        methods: {
            setRating(rating) {
                this.rating = rating;
                axios.post('/rate', {
                    rating: this.rating,
                    product_id: prod_id,
                    user_id: logged.id
                }).then(res => {
                    if (res.data.status) {

                    }

                });
            },
            fetchRating() {
                axios.get('/getRate',{params: {product_id: prod_id}}).then(response => {
                    this.rating = response.data.rating;
                });
            }
        },
        mounted: function () {
            this.fetchRating()
        }

    }
</script>