.delete {
    color: #d9534f;
    font-weight: 900;
    font-size: 22px;
    display: inline;
    cursor: pointer;
    margin-left: 130px;
    transition: 1s all ease;
}

.delete:hover {
    color: rgb(168, 30, 26);
}

.addProduct, .editProduct {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    z-index: 500;
    padding: 5%;
    background: white;
}

.product-list {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid #ebf4f9;
    text-align: center
}

.box {
    margin: 10px auto;
    padding: 0;
    display: inline-block;
    overflow: hidden
}

.box li {
    width: 100px;
    height: 100px;
    margin: 0 auto
}

.box .menu-tab {
    display: inline;
}

.box .menu-tab li {
    display: inline;
}

.box .menu-tab li:nth-of-type(2) {
    margin-left: 30px;
}

.box .menu-tab .btn {
    background-color: #3c8dbc;
}

.box .menu-tab .btn a {
    color: white
}

.box:nth-of-type(2) {
    margin: 10px auto 0 auto;
}

.box img {
    max-height: 100px;
    max-width: 100px
}

#add {
    cursor: pointer;
    color: #3097D1;
}

@keyframes rollUp {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

@keyframes rollDown {
    from {
        left: 0;
    }
    to {
        left: -200px;
    }
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 48%;
    left: 50%;
    z-index: 500;
    animation: spin .6s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-group img {
    max-height: 160px;
}

.img-box {
    margin-top: 20px;
    width: 160px;
    height: 160px;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.wrap > .column {
    width: 50%;
}

.small-loader {
    border: 2px solid #f3f3f3;
    border-top: 1px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 40%;
    left: 40%;
    position: absolute;
    z-index: 500;
    animation: spin .6s linear infinite;
    display: none;
}

.edit {
    color: #fff;
    transition: all .5s ease;
}

.edit:focus {
    color: #3c8dbc;
    background-color: transparent!important;
    border: 1px solid #3c8dbc;
}

.edit:hover {
    color: #3c8dbc;
    background-color: transparent!important;
    border: 1px solid #3c8dbc;
}

div.blueTable {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
}
.divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
}
.divTable.blueTable .divTableHeading {
    background: #54c654;
}
.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.blueTable .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
}
.blueTable .tableFootStyle {
    font-size: 14px;
}
.blueTable .tableFootStyle .links {
    text-align: right;
}
.blueTable .tableFootStyle .links a{
    display: inline-block;
    background: #54c654;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
.blueTable.outerTableFooter {
    border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
.menu {
    margin-left: 5%;
}

.list ul li{
    list-style: none;
}

.list .parent {
    font-weight: 800;
}

.list .child {
    font-weight: 200;
}

.line {
    display: flex;
    vertical-align: center;
    align-content: center;
}

.list .menu a {
    margin-left: 20px;
}

.list li {
    margin-bottom: 20px;
}

.list ul {
    margin-top: 20px;
}

.list .menu {
    position: absolute;
    margin-left: 200px;
    margin-bottom: 0;
}

.tabs:not(:last-child) {
    margin-bottom: 1.5rem;
}

.tabs {
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.tabs ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

li:not( :hover) {
    transition: all 0s;
}

.tabs li {
    display: block;
    width: 30%;
    font-size: 16px;
}

.tabs li.is-active a {
    border-bottom-color: #62bc4a;
    color: #62bc4a;
}

.tabs a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

.tabs-details .flex .col:first-child {
    margin-right: 50px;
}


.unknown {
    color: #f39c12;
}

.success {
    color: #00a65a;
}

.error {
    color: #dd4b39;
}

.status {
    display: flex;
}

.status div {
    margin-left: 10px;
}

.status i {
    font-size: 18px;
}

.divTable.blueTable .divTableBody .divTableCell {
    font-size: 15px;
}

.act-btn {
    cursor: pointer;
}

