@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&subset=latin,latin-ext');
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?35iyer');
    src:  url('../fonts/icomoon.eot?35iyer#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?35iyer') format('truetype'),
    url('../fonts/icomoon.woff?35iyer') format('woff'),
    url('../fonts/icomoon.svg?35iyer#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
    content: "\e901";
}
.icon-location2:before {
    content: "\e948";
}
.icon-bubbles3:before {
    content: "\e96f";
}
.icon-user:before {
    content: "\e971";
}
.icon-arrow-right:before {
    content: "\ea3c";
    font-size: 12px;
    margin-left: 5px;
}

.icon-home2:before {
    content: "\e901";
}
.icon-bubbles3:before {
    content: "\e96f";
}
.icon-user:before {
    content: "\e971";
}

body {
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden;
    font-family: Montserrat,sans-serif;

}


main {
  /*  overflow: hidden;*/
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .5s ease;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
a img {
    border: 0;
}


img {
    height: auto;
}

.flex {
    display: flex;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    background: white;
}

.sub-header {
    margin-top: 20px;
}

.box {
    width: 100%;
    color: white;
    height: 60px;
}

.green {
    background: #62bc4a;
}

.red {
    background: #f00;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.two-columns .column {
    width: 50%;
}

.three-columns .column {
    width: 33%;
}

.header-bottom {
    margin-top: 5px;
}

.header-top {
    border-bottom: 1px solid #eee;
    font-size: 12px;
    margin-top: 5px;
}

.header-top ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
}

.header-top ul li:first-child {
    margin-left: 0;
}
.navbar {
    display: flex;
}

.search-bar input {
    width: 67%;
    height: 40px;
    margin-top: 20px;
    padding: 10px 0 10px 10px;
    font-size: 16px;
}


.header-bottom ul {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.header-top li, .header-bottom li {
    margin: 0 10px;
}

.header-top li:not(:last-child)::after {
    padding-left: 5px;
    content: " | ";
    color: #bbb;
}

.header-top li a:hover {
    color: #62bc4a;
}
.header-bottom .logo {
    width: 150px;
    height: 80px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 50px;
}



.header-bottom .logo img {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    width: 100%;
    height: 100%;

}

.header-bottom .logo img:hover {
    opacity: .5;

}

.header-bottom .container {
    display: flex;
}

.navbar {
    background: #62bc4a;
    width: 100%;
    height: 80px;
    border-radius: 5px;

    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;

}

.navbar li a:hover {
    color: #f6c028;

}

.nav {
    margin-top: 10px;
}

.nav .container {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;

}

.nav ul:first-child li {
    width: 100px;
}

.nav ul:first-child {
    border-right: 1px solid #eeeeee ;
}

.nav ul:first-child li:first-child {
    background: #62bc4a;
    color: white;
}

.nav ul:first-child li:hover:first-child a {
    background: white;
    color: #62bc4a;
}

.nav ul:first-child li:nth-child(2) {
    background:#ed1c24;
    color: white;
}

.nav ul:first-child li:hover:nth-child(2) a{
    background: white;
    color: #ed1c24;
}


.nav ul {
    display: flex;
    margin: 0;
    height: 50px;
    padding-left: 0;
}
.nav ul li {
    width: 150px;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    color: #62bc4a;
}
.nav ul li a {
    display: block;
    text-align: center;
}


.nav ul li a:hover {
    background: #62bc4a;
    color: white;
}

.search-bar {
    width: 100%;
}

.search-bar .btn {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    padding: .5em 1.2em;
    white-space: nowrap;
    border: 0;
    vertical-align: bottom;
    background: -webkit-gradient(linear,left top,left bottom,from(#54c654),to(#62bc4a));
}

.product-list-component {
    padding-bottom: 50px;
}

.product-list-component > .btn {
    font-size: 15px;
    line-height: 25px;
    max-width: 150px;
    display: block;
    color: #fff;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    padding: .5em 1.2em;
    white-space: nowrap;
    border: 0;
    vertical-align: bottom;
    background: -webkit-gradient(linear,left top,left bottom,from(#54c654),to(#62bc4a));
    margin-bottom: 50px;
    margin: 0 auto;
    height: 40px;
    line-height: 24px;
    border: 1px solid #62bc4a;
}

.search-bar select {
    width: 20%;
    height: 40px;
    cursor: pointer;
    vertical-align: bottom;
}

.search-bar .btn:hover {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,.2);

    -moz-transition: background-position .1s linear 0;
}



.banner {
    height: 400px;
}

.banner .box {
     width: 70%;
     height: 100%;
     position: relative;
 }

.banner .col:first-of-type {
    width: 70%;
}

.banner .col {
    width: 30%;
}

.banner .aside {
    margin-left: 60px;
     width: 250px;
     height: 100%;
    margin-top: 50px;
 }

#main-banner {
    margin-top: -50px;
}

.banner .aside > .box {

    width: 100%;
    position: relative;
    height: 180px;
    background: rgba(255,255,255,0.8);
    border: 1px solid #eee;
    border-top: 2px solid #62bc4a;
}

.banner .aside > .box:nth-child(2) {

    margin-top: 40px;
}

#main-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 495px;
}

.banner .box img {
    width: 100%;
    max-width: 840px;
    max-height: 100%;
    display: block;
}
.banner .box .overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.banner .box > .text {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 50%;
    color: #333;
    z-index: 100;
}

#main-banner .text {
    background: #62bc4a;
    position: absolute;
    top: 60%;
    /* bottom: -85%; */
    margin-left: 20%;
}

.banner .box .text > h1 {

    margin-left: 10px;
    opacity: .9;
    font-weight: 700;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
}
/*
.banner .box .slide {
    position: absolute;
    width: 100%;
    height: 450px;
}
*/
.banner .box .text > p {
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
    opacity: .9;
    background-clip: text;
    -webkit-background-clip: text;
}

.left, .right {
    z-index: 500;
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 40px;
    opacity: .2;
    top: 45%;
}

#main-banner:hover .left, #main-banner:hover .right  {
    opacity: 1;
    transition: 1s ease;
}

.right {
    right: 10px;
}

.left {
    left: 10px;
}

.aside img {
    margin-top: -100px
}

 .col{


}

.aside .box:first-child a {
    display: block;
    height: 120%;
    margin-top: 70px;
    color: #62bc4a;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
}

.aside .box:nth-child(2) img {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
}

.aside .box:first-child a span {

    color: #f6c22d;
    font-weight: 600;
}

.aside .box:hover:first-child {
    background: #62bc4a;
    transition: .5s all ease-in-out;
    box-shadow: 0 10px 25px 5px rgba(0,0,0,.13);
    -webkit-transform: translateY(-11px);
    -ms-transform: translateY(-11px);
    transform: translateY(-11px);
}

.aside .box:hover:first-child a {
    color: white;
}

.banner .aside .box:nth-of-type(2) a {
    color: #62bc4a;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    display: block;
    height: 120%;
    padding-bottom: 0;
    margin-top: 80px;
}

.banner .aside .box:nth-of-type(2):hover {
     background: #62bc4a;
    transition: .5s all ease-in-out;
    -webkit-transform: translateY(-11px);
    -ms-transform: translateY(-11px);
    transform: translateY(-11px);
    box-shadow: 0 10px 25px 5px rgba(0,0,0,.13);
 }

.banner .aside .box:nth-of-type(2):hover a {
    color: white;
    transition: 1s all ease-in-out;


}


.background-hp {
    background: url(../images/background.jpg);
    background-blend-mode: hue;
    background-position: left top;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 508px;
    background-size: 800px 538px;
}

.product-list-component > .btn:hover {
    background: white;
    color: #62bc4a;
    border: 1px solid #62bc4a;
    transition: .5s all ease;
}

#main-banner img,#main-banner .text {
    pointer-events: none;
}

.product-list {
    margin-top: 50px;
    background: linear-gradient(white, rgba(98,188,74,.1));
}

.product-list .container {
    background: white;
}

.product-list h1 {
    color: #62bc4a;
    border-bottom: 1px solid #62bc4a;
}

.top-products-component>.right-side .product-list-component .list>.item {
    width: 25%;
}
.product-list-component .list>.item .product-item-container {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #eee;
    background: white;
}

.product-item-container .content {
    position: relative;
    text-align: center;
    font-size: 13.9px;
    line-height: 18px;
    color: #2f2f2f;
}

.product-item-container .content .title {
    min-height: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}
.product-item-container .content .price {
    margin: 5px 0 16px;
    font-size: 18px;
    line-height: 24px;
    color: #d6260a;
}



.product-list .list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-list-component .list>.item {
    margin-bottom: 30px;
    width: 23%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes borderblueanim {
    from {
        stroke-dashoffset: 800;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.product-list-component .list>.item:hover .product-item-container {
    /*border: 1px solid #62bc4a;*/
    transition: all .5s ease-in-out;
    box-shadow: 0 10px 25px 5px rgba(0,0,0,.13);
}

.product-list-component .list>.item:hover .btn {
    color: white;
    background: #62bc4a;
    transition: all .5s ease-in-out;
}

.product-item-container .btn {
    font-size: 15px;
    line-height: 25px;
    color: #62bc4a;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    padding: .5em 1.2em;
    white-space: nowrap;
    vertical-align: bottom;
    border: 1px solid #62bc4a;
    margin-bottom: 10px;

}

.icon-location2 {
    color: #62bc4a;
    font-size: 20px;
    font-weight: 100;

}

.product-list {
    padding-bottom: 50px;
}

.middle-content .col {
    width: 33%;
    text-align: center;
}

.middle-content {
    padding-bottom: 50px;
    position: relative;

}

.background .text {
    top: 20%;
    left: 42%;
    z-index: 200;
    position: absolute;
    background: rgba(255,255,255,.7);
    padding-left: 10px;
}

.background .text p {
    max-width: 90%;
}

.background h1 {
    color: #f53;




    font-size: 40px;

}

.middle-content .background {
    background: url(../images/farm.jpg);
    background-blend-mode: hue;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    /* margin-left: -40px; */
    height: 400px;
    background-size: 2000px 400px;
}

.middle-content .farmer {
    z-index: 200;
    position: absolute;
    width: 50%;
    bottom: 49px;
}

.footer-top {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #2a2d34;
}

.footer-top .footer-links {
    padding-left: 0;
}

.footer-top .footer-links li {


}
#main-banner .text {
    display: none;
}

.footer-top li a {
    color: white;
    font-weight: 100;
}

.footer-fruit img {
    width: 100px;
}

.footer-fruit {
    position: absolute;
    left: 70%;
    top: -35px;
}

.footer-top .col {
    width: 25%;
}

.footer-top .title{
    color: white;
    font-size: 18px;
}

footer {
    position: relative;
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 1000px) {
    .container {
        width: 980px
    }

}

@media (min-width: 1130px) {
    .container {
        width: 1100px
    }
}
@media (min-width: 1220px) {
    .container {
        width: 1200px;
    }


}

@media (max-width: 1220px) {
    .nav li {
        width: 120px!important;
    }
/*
    .nav li:first-of-type {
        margin-left: 20px;
    }*/

    .nav ul:first-child {
        width: 24%;
    }
}


@media (max-width: 1130px) {
    .banner .container {
        display: block;
    }
    .banner .col:first-of-type {
        width: 100%;
    }
    .banner .col {
        width: 100%;
    }
    #main-banner {
        margin: 0 auto;
        width: 100%;
    }

    .banner {
        height: 785px;
    }

    .banner .aside {
        display: flex;
        width: 100%;
        margin-left: 0;
    }
    .aside > .box {

    }

    .background-hp {
        background-size: 980px 300px;
    }

    .banner .aside .box {
        width: 30%;
        height: 220px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .banner .aside .box:nth-of-type(2) {
        margin-top: 0;
        line-height: 115px;
    }

    .aside .box:nth-child(2) img {
        margin-top: -80px;
    }



    .product-list-component .list>.item {
        width: 30%;
    }

    .banner .box img {
        max-width: 980px;
    }
}

@media (max-width: 1000px) {

    .nav ul:first-child {
        display: none;
    }

    .nav .sub-menu ul {
        display: block;
    }

    .search-bar select {
        width: 22%;
    }

    .search-bar input {
        width: 60%;
    }

    .aside .box:nth-child(2) img {
        margin-top: -128px;
    }

    .banner .aside .box {
        height: 175px;
    }

    .background-hp {
        width: 750px;
    }
}

@media (max-width: 900px) {
    #main-banner {
        width: 100%;
    }
}
@media (max-width: 800px) {

}

@media (max-width: 768px) {
.search-bar {
    display: none;
}
    .header-bottom .logo{
        width: 100px;
        height: 60px;
    }

    .product-detail .flex .column {
        width: 100%;
    }

    .product-detail .flex {
        display: block;
    }

    .gallery-preview img {
        margin: 0 auto;
        display:  block;
    }

    .nav ul {
        display: none;
    }

    .product-list-component .list>.item {
        width: 45%;
    }

    #main-banner {
        height: 300px;
    }

    .aside .box a {
        line-height: inherit;
        margin-top: 10px;
        font-size: 12px;
    }

    .banner .aside {
        display: block;
    }

    .background-hp {
        background-size: 980px 800px;
        height: 440px;
    }

    .aside .box {
        margin: 0 auto!important;
        width: 300px!important;
        margin-top: 50px!important;
    }

    .aside .box:first-of-type img {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {
        height: 880px;
    }

    .middle-content .background {
        height: 200px;
    }

    .middle-content .text {
        position: relative;
        width: 45%;
    }

    .middle-content h1 {
        font-size: 30px
    }
}

@media (max-width: 640px) {
    .product-list-component .list>.item {
        width: 80%;
        margin: 10px auto;
    }

    .product-list-component .list>.item a {
        width: 100%;

    }

    .product-list-component .list>.item figure {
        text-align: center;

    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: .5;
    animation: fadeIn 1.5s ease 1 forwards;
    transition: 1s ease;
}

.nav .sub-menu{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    z-index: 500;
    position: absolute;
    background: white;
    box-shadow: 5px 10px 15px -5px rgba(9, 121, 192, 0.3);

}

.sub-menu ul {
    display: block;
}


li.vege:hover .sub-menu.vege {
    visibility: visible;
    opacity: 1;
    display: flex;
}

li.gluten:hover .sub-menu.gluten {
    visibility: visible;
    opacity: 1;
    display: flex;
}

li.meat:hover .sub-menu.meat {
    visibility: visible;
    opacity: 1;
    display: flex;
}


li:not( :hover) {
    transition: all 0s;
}

li:not( :hover) .product-image {
    display: none!important;
}

.sub-menu ul li {
    background: white!important;
    color: #62bc4a!important;
    line-height: inherit;
}


.sub-menu ul li {
    background: none!important;
    color: #62bc4a!important;
    line-height: 30px;
    font-size: 15px;
    width: 200px!important;
    height: auto;
    border: none;
}

.sub-menu ul li a {
    text-align: left;
}

.sub-menu ul li:hover a {
    background: none!important;
    color: #62bc4a!important;
}

.sub-menu {
    height: 300px;
    width: 600px;
}
.messageModal {
    height: 300px;
    width: 300px;
    right: 2%;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    z-index: 999;
    position: absolute;
    background: white;
    box-shadow: 5px 10px 15px -5px rgba(9, 121, 192, 0.3);
}

.messageModal.show {
    visibility: visible;
    opacity: 1;
}

.sub-menu .column {
    width: 50%;
}

.sub-menu ul {
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
}

.sub-menu li:hover {
    text-decoration: underline;
}

.sub-menu figure .product-image {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s ease;
}

.sub-menu figure .visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s ease;
}

.sub-menu figure {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.product-image {
    position: absolute;
    top: 20px;
    left: 0;

}

.vege .column:first-of-type {
    background: url("../images/vege-background.png");
    background-repeat: no-repeat;
    background-position: 0 130%;
    background-size: 150px 150px;
    border-right: 1px solid #62bc4a;
}

.gluten .column:first-of-type {
    background: url("../images/bakery.png");
    background-repeat: no-repeat;
    background-position: 0 115%;
    background-size: 150px 150px;
    border-right: 1px solid #cd8d5a;
}

.meat .column:first-of-type {
    background: url("http://hanifaafrozenfood.com/wp-content/uploads/2014/07/meat2.png");
    background-repeat: no-repeat;
    background-position: 0 130%;
    background-size: 150px 150px;
    border-right: 1px solid #9a091d;
}

.gluten li a {
    color: #cd8d5a;
}

.meat li a {
    color: #9a091d;
}

.nav ul .gluten {
    color: #cd8d5a;
}

.nav ul .meat {
    color: #9a091d;
}

.meat ul li:hover {
    color: #9a091d!important;
}

.nav ul .gluten a:hover, .nav ul .gluten:hover .nav ul .gluten > a{
    background: #cd8d5a;
}

.nav ul .meat a:hover, .nav ul .meat:hover .nav ul .meat > a{
    background: #9a091d;
}

.sub-menu .column:nth-of-type(2) {
    background: white;
}

.modal {
    display: none;
}

.log {
    position: fixed;
    z-index: 500;
    top: 40%;
    left: 40%;
    text-align: center;
    background: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 400px;
}
.modal .close {
    float: right;
    color: #ddd;
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
}

.modal .close:hover {
    transition: .5s all ease;
    color: #ee3612;
}

.modal h3 {
    color: #62bc4a;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    border-bottom: 1px solid #62bc4a;
    padding-bottom: 10px;
}


.modal .box {
    margin-top: 50px;
    color: inherit;
}

.modal .form-control {
    margin: 20px auto;
}

.log button {
    color: white;
    background: #62bc4a;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 14px;
}

.log button:hover {
    color: #62bc4a;
    background: white;
    border: 1px solid #62bc4a;
    transition: all .5s ease;
}

.modal a {
    color: #62bc4a;
    font-size: 13px;
    margin-left: 20px;
}

.modal a:nth-of-type(2) {
    margin: 10px auto;
    display: block;
}

.modal a:hover {
    text-decoration: underline;
}

.log input {
    height: 35px;
    width: 250px;
    display: block;
    padding-left: 10px;
    border: 1px solid #62bc4a;
}

.log input:first-of-type {
    margin-top: 30px;
}

.footer-links li a:hover {
    text-decoration: underline;
}

.footer-top .title {
    max-width: 150px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;

}

.hammenu {
    display: none;
    position: relative;
    width: 40px;
    height: 35px;
    float: right;
    margin-top: 5px;
}

#menu-btn {
    right: 0;
    width: 60px;
    height: 47px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 100;
}
#menu-btn span {
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 3px;
    background: #62bc4a;
    font-size: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    left: 50%;
}
#menu-btn span:after,
#menu-btn span:before {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #62bc4a;
    content: '';
}
#menu-btn span:before {
    -webkit-transform: translateY(-298%) translateZ(0);
    transform: translateY(-298%) translateZ(0);
}
#menu-btn span:after {
    -webkit-transform: translateY(298%) translateZ(0);
    transform: translateY(298%) translateZ(0);
}

@media (max-width: 768px) {
    .hammenu {
        display: inline-block;
    }

    .header-bottom .container {
        display: block;
    }

    .header-bottom .logo {
        display: inline-flex;
    }

    .header-top {
        display: none;
    }
}

.side-menu {
    background: white;
}

.side-menu {
    position: fixed;
    left: -60%;
    width: 60%;
    height: 100%;
    z-index: 500;
    top: 77px;

}

@keyframes rollUp {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

@keyframes rollDown {
    from {
        left: 0;
    }
    to {
        left: -200px;
    }
}

.side-menu li {
    margin-bottom: 15px;
    color: #62bc4a;
}

.side-menu ul {
    margin-top: 50px;
}

.menu-active #menu-btn span:before {
    -webkit-transform: translateY(0) rotate(45deg) translateZ(0);
    transform: translateY(0) rotate(45deg) translateZ(0);
}
.menu-active #menu-btn span:after {
    -webkit-transform: translateY(0) rotate(-45deg) translateZ(0);
    transform: translateY(0) rotate(-45deg) translateZ(0);
}

.menu-active #menu-btn span {
    background-color: transparent;
}

.side-menu .header {
    background: #62bc4a;
    color: #fff;
    display: block;
    padding-top: 20px;
    padding-bottom: 40px;
}

.side-menu .header a {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-left: 40px;
}

header.animated.show {
    -webkit-animation: header-show 1s;
    animation: header-show 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 9999;
}

header.animated.hide {
    -webkit-animation: header-hide 1s;
    animation: header-hide 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.user-menu {
    margin-left: auto;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgba(255,255,255,.4);
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgba(255,255,255,.4);
}

.modalHeader {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 10px;
}

.modalHeader a:first-of-type {
    margin-left: 10px;
}

.modalHeader a:nth-of-type(2) {
    float: right;
    margin-right: 10px;
}

.modalBody {
    height: 240px;
}

.modalBody li {
    height: 80px;
    border-bottom: 1px solid #eee;
}

.modalBody li:first-child {
    margin-left: 10px!important;
}


ul.inboxArea {
    display: block;
}

ul.inboxArea li::after {
    display: none;
}

ul.inboxArea li a {
    display: flex;
    width: 100%;
}

ul.inboxArea .profileImage {
    width: 25%;
    border-right: 1px solid #eee;
}


ul.inboxArea .profileImage figure {
    height: 100%;
    width: 100%;
    margin: 0;
}

ul.inboxArea .profileImage figure img{
    border-radius: 50%;
    width: 65%;
    margin: 10% auto;
    display: block;
}

ul.inboxArea .profileImage figure p{
    width: 100%;
    text-align: center;
    margin: 0;
}



ul.inboxArea .content {
    width: 55%;
    padding-left: 10px;
}

ul.inboxArea .content p {
    width: 100%;
}

ul.inboxArea .time {
    width: 20%;
    border-left: 1px solid #eee;
    padding-left: 10px;
}

ul.inboxArea .time p{
    line-height: 5px;
}



.modalFooter a{
    margin-left: 10px;
}

.modalFooter {
    border-top: 1px solid #eee;
    padding-top: 5px;
}

.panel-footer{
    position: absolute;
    background: white;
    width: 45%;
}

.panel-footer .list-group {
    display: block;
}

.panel-footer .list-group li {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #eee;
}

.panel-footer .list-group li a {
    width: 100%;
    display: flex;
}

.panel-footer .list-group li img {
    max-width: 40px;
    margin-right: 50px;
    max-height: 40px;
}

.panel-footer .list-group li p{
    width: 60%;
}

.product-detail {
    margin-top: 20px;
}

.product-detail .column {
    width: 50%;
}

.breadcrumbs ul li {
    display: inline;
    margin-right: 5px;
    color: #62bc4a;
    font-size: 13px;
}

.breadcrumbs ul li:after {
    content: '>';
    padding-left: 10px;
    font-size: 12px;
}

.breadcrumbs ul li:last-child:after {
    content: '';
}

.disabledComment {
    background: #eee;
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

.comments-app {
    text-align: center;
}

.comment-text {
    margin: 20px auto;
    border-bottom: 1px solid #eee;
}

.comment-info {
    font-size: 12px;
}

.up-vote {
     color: green;
     font-weight: 800;
 }

.down-vote {
    color: red;
    font-weight: 800;
}

.comment-actions .list {
    display: inline-flex;
}

.comment-actions .list li {
    margin: 0 10px;
}

.comments-app textarea {
    width: 80%;
    height: 140px;
    border: solid 1px #62bc4a;
}

.comments-app .form input {
    background: #62bc4a;
    color: white;
    border: none;
    height: 40px;
    line-height: 40Px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border-bottom: 1px solid #62bc4a;
    background-color: #fff;
    margin-top: 40px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: rgba(98, 188, 74, 0.68);
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #62bc4a;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #62bc4a;
    border-top: none;
}

main {
    margin-top: 0!important;
}

.panel-footer {
    z-index: 500;
    width: 44.45%;
    border: 1px solid #ccc;
}

.pagination {
    display: inline-flex;
}

.pagination li {
    margin: 0 20px;
    border: 1px solid #eee;
    padding: 10px;
}

.pagination .active {
    color: #62bc4a;
}

.price-container {
    font-size: 20px;
    color: #525252;
    border-bottom: 1px solid #62bc4a;
    padding: 20px;
    width: 25%;
    text-align: center;
}

.product-detail h1 {
    border-bottom: 1px solid #62bc4a;
    padding-bottom: 10px;
    width: 50%;
}

/* Banner  */

.agile__dots {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.agile__dot button {
    background-color: transparent;
    border: 1px solid #fff;
}
.agile__dot button:hover {
    background-color: #fff;
}
.agile__dot--current button {
    background-color: #fff;
}
.agile__arrow {
    height: 100%;
    top: 0;
    width: 80px;
    position: absolute;
    background: none;
    border-color: #fff ;
}

.agile__arrow.agile__arrow--next {
    right: 0;
}
.agile__arrow:hover #arrow-svg {
    fill: #fff;
}
.agile__arrow[disabled] {
    display: none;
}
.agile__arrow #arrow-svg {
    fill: rgba(255, 255, 255, .4);
    height: 25px;
}

.price-container-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.button-reserve {
    display: flex;
    margin-left: 10%;
    align-items: center;
}

.btn-success {
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background: #62bc4a;
    color: white;
    cursor: pointer;
}

.order {
    width: 600px;
    height: 500px;
}

/*
    Tabs
*/

.tabs {
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.tabs ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

li:not( :hover) {
    transition: all 0s;
}

.tabs li {
    display: block;
    width: 30%;
}

.tabs li.is-active a {
    border-bottom-color: #62bc4a;
    color: #62bc4a;
}

.tabs a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

.comment-form-wrapper {
    padding: 10px;
    border: 1px solid #62bc4a;
    height: 300px;
    width: 100%;
}

.review {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 150px;
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #eee;
    clear: left;
}

.review .user {
    width: 25%;
    font-size: 90%;
    text-align: center;
}

.review .rev-text {
    min-height: 150px;
    width: 75%;
    padding-left: 30px;
    border-left: 1px solid #eee;
    word-wrap: break-word;
    font-size: 14px;
}

.review .user img {
    max-width: 64px;
}

/*
    Banner
*/
.agile__track {
    max-height: 450px;
}

.agile__dots {
    bottom: 15px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.agile__dot button {
    border-radius: 14px;
    height: 14px;
    margin-left: 10px;
}
.agile__dot button:hover {
    background-color: #fff;
}
.agile__dot--current button {
    background-color: #fff;
}
.agile__arrow {
    height: 100%;
    top: 0;
    width: 80px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    fill: #ffffff3d;
    transition: all 0.5s ease;
}

.overlay {
    height: 450px;
    position: relative;
    overflow: hidden;
}

.overlay img {
    position:absolute;
    top:0;
    bottom:0;
    margin: auto;
    width:100%;
}
.agile__arrow:focus {
    background: inherit;
}
.agile__arrow:hover {
    fill: #fff;
    background: inherit;
}
.agile__arrow:hover #arrow-svg {
    fill: #fff;
}
.agile__arrow[disabled] {
    display: none;
}
.agile__arrow #arrow-svg {
    fill: rgba(255, 255, 255, .4);
    height: 25px;
}

.tabs-details {
    padding: 20px;
    box-shadow: 0 10px 25px 5px rgba(0,0,0,.05);
}

.avatar {
    width:150px;
    height:150px;
    overflow: hidden;
    border-radius:50%;
    position: relative;
    margin-top: -50px;
    margin-left: 100px;
    background: white;
}

.avatar img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}

/*
    Ribbon
*/

.product-item-container{
    position: relative;
}

.ribbon-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;;
}
.ribbon-wrapper .ribbon {
    font: 12px sans-serif;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 24px;
    left: -24px;
    width: 120px;
    background-color: #ebb134;
    color: #fff;
}

.seller-name {
    margin-left: 20px;
}

.seller-info {
    border-top: 1px solid #57c351;
}

.header-top {
    font-size: 14px;
}

/*
Register
*/
.panel {
    margin-bottom: 8%;
    margin-top: 6%;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
    padding: 15px;
}

.panel-body:before,
.panel-body:after {
    content: " ";
    display: table;
}

.panel-body:after {
    clear: both;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #d3e0e9;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel > .list-group,
.panel > .panel-collapse > .list-group {
    margin-bottom: 0;
}

.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

.list-group + .panel-footer {
    border-top-width: 0;
}

.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
    margin-bottom: 0;
}

.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
    padding-left: 15px;
    padding-right: 15px;
}

.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
    border-top: 1px solid #ddd;
}

.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}

.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
    border: 0;
}

.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}

.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}

.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0;
}

.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
}

.panel > .table-responsive {
    border: 0;
    margin-bottom: 0;
}

.panel-group {
    margin-bottom: 22px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-group .panel + .panel {
    margin-top: 5px;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #d3e0e9;
}

.panel-group .panel-footer {
    border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #d3e0e9;
}

.panel-default {
    border-color: #5ebf4d;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #5ebf4d;
    border-color: #5ebf4d
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d3e0e9;
}

.panel-default > .panel-heading .badge {
    color: #fff;
    background-color: #333333;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d3e0e9;
}

.panel-primary {
    border-color: #5ebf4d;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #5ebf4d;
    border-color: #5ebf4d;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #5ebf4d;
}

.panel-primary > .panel-heading .badge {
    color: #5ebf4d;
    background-color: #fff;
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #3097D1;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d6e9c6;
}

.panel-success > .panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d;
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bce8f1;
}

.panel-info > .panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f;
}

.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #bce8f1;
}

.panel-warning {
    border-color: #faebcc;
}

.panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #faebcc;
}

.panel-warning > .panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b;
}

.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #faebcc;
}

.panel-danger {
    border-color: #ebccd1;
}

.panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ebccd1;
}

.panel-danger > .panel-heading .badge {
    color: #f2dede;
    background-color: #a94442;
}

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ebccd1;
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.6;
    color: #555555;
}

.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #98cbe8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
}

.form-control::-moz-placeholder {
    color: #b1b7ba;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #b1b7ba;
}

.form-control::-webkit-input-placeholder {
    color: #b1b7ba;
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

.register.btn {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    padding: .5em 1.2em;
    white-space: nowrap;
    border: 0;
    vertical-align: bottom;
    background: -webkit-gradient(linear,left top,left bottom,from(#54c654),to(#62bc4a));
}

.content-background {
    background: linear-gradient(white, rgba(98,188,74,.1));
}

.message {
    text-align: center;
    margin: 30px 0 80px 0;
}

.message form {
    width: 80%;
    margin: 0 auto;
}

.message .form-group {
    margin-bottom: 15px;
}

.message .form-group label {
    margin-bottom: 10px;
}

.message .media {
    text-align: left;
}

.messages-thread .message-body {
    padding: 10px;
}

.messages-thread .media {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 10px 25px 5px rgba(0,0,0,.13);
}

.label {
    border-radius: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}

.label-danger {
    background: #ed1c24;
    color: white;
}

.media.alert {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 10px 25px 5px rgba(0,0,0,.13);
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
}

.alert-info {
    background: #3399331f;
}

.notification {
    width: 10px;
    text-align: center;
    height: 10px;
    line-height: 10px;
    position: absolute;
    right: 10px;
    border-radius: 10px;
    top: 10px;
}

.unread {
    background: #ab4e5182;
    color: white;
}

.main{
    min-height: 450px;
}

.gallery-preview {
    max-width: 320px;
}

.tabs, .tabs ul {
    margin-bottom: 0;
}

.clickable {
    cursor: pointer;
}