.skin-biomarket .main-header .navbar {
    background-color: #54c654;
}

a {
    color: #fff;
}
a:hover, a:active, a:focus {
    color: #eee;
    background: rgba(0,0,0,0.2);
}

.main-sidebar, .left-side {
    background-color: #54c654;
}

.main-sidebar {
    position: relative;
    padding-top: 0;
}

.sidebar-form, .sidebar-menu>li.header {
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-weight: 800;
}

.content-wrapper, .right-side {
    background: #fff;
}

.main-footer {
    background: #2a2d34;
    margin: 0;
}

.logo {
    background: #fff;
}

.logo:hover {
    background: #fff;
}

.flex {
    display: flex;
    min-height: 100%;
}

.flex .content-wrapper {
    margin-left: 0;
    margin-bottom: 50px;
}

.product-box {
    margin: 10px auto;
    padding: 0;
    display: inline-block;
    overflow: hidden;
}

.product-box li {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.product-box img {
    max-height: 100px;
    max-width: 100px;
}

.product-box .menu-tab {
    display: inline;
}

.product-box .menu-tab li {
    display: inline;
}

.product-box .menu-tab .btn {
    background-color: #54c654;
}

.wrapper {
    min-height: 100%;
}

.content-wrapper {
    min-width: 80%;
}

.content-header {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
}